@import '@/shared/vars/vars';

@media (min-width: $pageWidth320) {
  .header {
    min-height: $headerHeight;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 0.5rem 0.5rem;
    justify-content: center;
  }

  .wrapper {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: $darkGray;
  }
  .container {
    width: 100%;
    max-width: $containerWidth;
    padding: 1rem $containerPaddingX;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 1rem 0.5rem;
    flex-wrap: wrap;
  }
}

@media (min-width: $pageWidth768) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: $pageWidth1024) {
  .container {
    grid-template-columns: 1fr 2fr;
  }
}
