.addButton {
  cursor: pointer;
  border: 1px dashed #ccc;
  border-radius: 4px;
  background: none;
  padding: 8px 12px;
  width: 100%;
  color: #666;
  white-space: nowrap;

  &:hover {
    border-color: #fff;
    color: #999;
  }
}
