@use '@/shared/vars/vars' as *;

.addButton {
  cursor: pointer;
  border: 1px dashed #ccc;
  border-radius: 4px;
  background: none;
  padding: 8px 12px;
  width: 100%;
  color: #666;
  white-space: nowrap;

  &:hover:not(.isLocked) {
    border-color: #fff;
    color: #999;
  }

  &.isLocked {
    cursor: not-allowed;
    border-color: $notAllowedColor;
  }
}
