$pageWidth320: 320px;
$pageWidth425: 425px;
$pageWidth768: 768px;
$pageWidth1024: 1024px;
$pageWidth1440: 1440px;

$scrollBarWidth: 0.8rem;
$scrollBarHeight: 0.5rem;
$scrollBarBgColor: #d0d0d0;
$scrollBarHoverBgColor: #9a9a9a;

$backgroundColor: #0f0f0f;
$darkGray: #222222;
$gray: #464646;
$grayHover: #4a4a4a;
$lightGray: #ccc;
$white: #fff;
$white10Alpha: #ffffff10;
$accentColor: #525373;

$headerHeightMobile: 9rem;
$headerHeight: 6rem;

$tabBarHeight: 6rem;

$containerWidth: 140rem;
$containerPaddingX: 1rem;
$containerBasicPadding: 1rem;
$containerPaddingTop: calc($headerHeight + $containerBasicPadding);
$containerPaddingTopMobile: calc($headerHeightMobile + $containerBasicPadding);
$containerPaddingBottom: $containerBasicPadding;
$containerPaddingBottomMobile: calc($tabBarHeight + $containerBasicPadding);

@mixin actionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s ease-in-out;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  background: $white10Alpha;
  padding: 0 0.8rem;
  height: 3rem;
  color: $white;
  font-size: 1.4rem;

  &.active {
    background: $accentColor;
  }

  @media (hover: hover) {
    &:hover {
      background: $accentColor;
    }
  }
}
