@use 'sass:color';

$pageWidth320: 320px;
$pageWidth425: 425px;
$pageWidth768: 768px;
$pageWidth1024: 1024px;
$pageWidth1440: 1440px;

$scrollBarWidth: 0.8rem;
$scrollBarHeight: 0.5rem;
$scrollBarBgColor: #d0d0d0;
$scrollBarHoverBgColor: #9a9a9a;

$backgroundColor: #0f0f0f;
$darkGray: #222222;
$gray: #464646;
$grayHover: #4a4a4a;
$lightGray: #ccc;
$white: #fff;
$accentColor: #525373;
$notAllowedColor: rgba(255, 0, 0, 0.3);

$headerHeightMobile: 9rem;
$headerHeight: 6rem;

$tabBarHeight: 6rem;

$containerWidth: 190rem;
$containerPaddingX: 1rem;
$containerBasicPadding: 1rem;
$containerPaddingTop: calc($headerHeight + $containerBasicPadding);
$containerPaddingTopMobile: calc($headerHeightMobile + $containerBasicPadding);
$containerPaddingBottom: $containerBasicPadding;
$containerPaddingBottomMobile: 1rem;
