* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:active,
:focus {
  outline: none;
}

a:active,
a:focus {
  outline: none;
}

aside,
footer,
header,
nav {
  display: block;
}

body,
html {
  margin: 0;
  outline: 0;
  border: 0;
  background-size: 100%;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 62.5%;
  line-height: 1;
}

button,
input,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input {
  outline: 0;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

hr {
  background: #dddddd;
  width: 100%;
  height: 1px;
}

ul,
li {
  list-style: none;
}

label {
  width: fit-content;
}
