@import '@/shared/vars/vars';

html,
body {
  background: $backgroundColor;
  color: $white;
}

::-webkit-scrollbar {
  width: $scrollBarWidth;
  height: $scrollBarHeight;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: $scrollBarBgColor;

  &:hover {
    background-color: $scrollBarHoverBgColor;
  }
}
