@import '@/shared/vars/vars';

body {
  background: $backgroundColor;
  color: $white;
}

::-webkit-scrollbar {
  width: $scrollBarWidth;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollBarBgColor;
  border-radius: 0.5rem;
  &:hover {
    background-color: $scrollBarHoverBgColor;
  }
}
