//@import '@/shared/constants/vars';

//body {
//  background: $backgroundColor;
//  background-image: url('../../shared/icons/background.png');
//  color: $whiteColor;
//}
//
//::-webkit-scrollbar {
//  width: $scrollBarWidth;
//}
//
//::-webkit-scrollbar-thumb {
//  background-color: $scrollBarBgColor;
//  border-radius: 0.5rem;
//  &:hover {
//    background-color: $scrollBarHoverBgColor;
//  }
//}
