@import '@/shared/vars/vars';

body {
  background: $backgroundColor;
  color: $white;
}

html,
body {
  overscroll-behavior: none;
}

::-webkit-scrollbar {
  width: $scrollBarWidth;
  height: $scrollBarHeight;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollBarBgColor;
  border-radius: 0.5rem;

  &:hover {
    background-color: $scrollBarHoverBgColor;
  }
}
