mut4bor.yml

client/node_modules
client/dist
client/build
client/.env
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

server/node_modules
server/docs
server/build
server/.env
server/.env.local
server/.env.development.local
server/.env.test.local
server/.env.production.local