@import '@/shared/vars/vars';

@media (min-width: $pageWidth320) {
  .weekItem {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  .weekActions {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
  }

  .button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: 0.15s ease-in-out;
    border-radius: 0.5rem;
    background: transparent;
    background: $white10Alpha;
    padding: 0.5rem 1rem;
    min-height: 3rem;
    color: $white;
    font-size: 1.6rem;
    white-space: nowrap;

    &.active {
      background: $accentColor;
    }

    @media (hover: hover) {
      &:hover {
        background: $accentColor;
      }
    }
  }

  .editButton,
  .deleteButton,
  .saveButton,
  .cancelButton {
    @include actionButton;
  }
}
