@import '@/shared/vars/vars';

@keyframes waveKeyframe {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.skeletonRoot {
  display: flex;
  position: relative;
  flex: 1;
  border-radius: 0.4rem;
  background-color: #ffffff10;
  height: 1.4rem;
  overflow: hidden;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    animation: waveKeyframe 2s linear 0.5s infinite;
    background: linear-gradient(90deg, transparent, #ffffff20, transparent);
    content: '';
  }
}
