@import '@/shared/vars/vars';

@media (min-width: $pageWidth320) {
  .container {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background: $darkGray;
  }

  .heading {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    background: $accentColor;
    padding: 0 2rem 0;
    height: 5rem;
  }

  .educationType {
    color: $white;
    font-weight: 400;
    font-size: 2.3rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
  }

  .skeletonContainer {
    border-radius: 0.5rem;
    padding: 1rem;
    width: 100%;
  }

  .skeletonList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
  }

  .pipe {
    opacity: 10%;
    z-index: 0;
    border-radius: 0.2rem;
    background: $white;
    width: 100%;
    min-height: 0.3rem;
  }
}

@media (min-width: $pageWidth1024) {
  .content {
    display: flex;
    flex-direction: row;
  }
  .pipe {
    width: 0.3rem;
    min-width: 0.3rem;
    min-height: 100%;
  }
}
