@import '@/shared/vars/vars';

@media (min-width: $pageWidth320) {
  .link {
    display: flex;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    justify-content: center;
    align-items: center;
    transition: 0.15s ease-in-out;
    border-radius: 50%;
    background: $accentColor;
    padding: 1rem;
    aspect-ratio: 1;

    &:hover {
      background: $white;
      .svg {
        border: 0.1rem solid $white;
        background: $white;
        fill: $accentColor;
      }
    }
  }

  .svg {
    transition: 0.15s ease-in-out;
    aspect-ratio: 1;
    width: 3.6rem;
    fill: $white;
    cursor: pointer;
    border: 0.1rem solid $accentColor;
    border-radius: 50%;
    background: $accentColor;
  }
}
