@use '@/shared/vars/vars' as *;

@media (min-width: $pageWidth320) {
  .container {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    align-items: center;
    z-index: 3;
    border-top: 0.1rem solid rgba($white, 0.1);
    background: $darkGray;
    padding: 1rem 0;
    width: 100%;
    height: $tabBarHeight;
  }

  .list {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }

  .listElement {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .link {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: $white;
    font-size: 1.2rem;
    text-align: center;
  }

  .svg {
    display: flex;
    aspect-ratio: 1;
    height: 2.5rem;
    fill: $white;
  }

  .pipe {
    opacity: 0.1;
    z-index: 0;
    border-radius: 0.2rem;
    background: $white;
    width: 0.2rem;
    height: 100%;
  }
}

@media (min-width: $pageWidth768) {
  .container {
    display: none;
  }
}
