@import '@/shared/vars/vars';

@media (min-width: $pageWidth320) {
  .container {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 1rem;
  }
  .list {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 1rem;
    border-radius: 0.5rem;
    padding: 0 0 0.5rem;
    overflow-x: auto;
  }
  .listElement {
    white-space: nowrap;
  }
  .skeleton {
    width: 12rem;
    height: 3rem;
  }
}
