@import '@/shared/vars/vars';

@media (min-width: $pageWidth320) {
  .wrapper {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background: $backgroundColor;
    width: 100%;
    height: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 0 auto;
    padding: $containerPaddingTopMobile $containerPaddingX
      $containerPaddingBottomMobile;
    width: 100%;
    max-width: 60rem;
  }

  .text {
    font-size: 2.5rem;
    text-align: center;
    word-wrap: break-word;
  }

  .link {
    transition: 0.15s ease-in-out;
    border-radius: 1rem;
    background: $accentColor;
    padding: 2rem 1rem;
    width: 100%;
    color: $white;
    font-size: 2rem;
    text-align: center;
    &:hover {
      background: $white;
      color: $accentColor;
    }
  }
}
@media (min-width: $pageWidth768) {
  .container {
    padding: $containerPaddingTop $containerPaddingX $containerPaddingBottom;
  }
  .text {
    font-size: 4rem;
  }
}
