@import '@/shared/vars/vars';

@media (min-width: $pageWidth320) {
  .container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 1rem;
    overflow: auto;
  }
  .main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    font-size: 2rem;
  }
  .skeleton {
    border-radius: 2rem;
    height: 3.6rem;
  }
  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.15s ease-in-out;
    border-radius: 2rem;
    background: $gray;
    padding: 1rem;
    color: $white;
    font-size: 1.6rem;
    &.active {
      background: $accentColor;
    }
    @media (hover: hover) {
      &:hover {
        background: $accentColor;
      }
    }
  }
  .text {
    width: 100%;
    text-align: center;
    word-break: break-all;
  }
}
@media (min-width: $pageWidth768) {
  .container {
    padding: 2rem;
  }
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: $pageWidth1024) {
  .main {
    grid-template-columns: repeat(4, 1fr);
  }
}
