@use '@/shared/vars/vars' as *;

@media (min-width: $pageWidth320) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    width: 100%;
    overflow: auto;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    width: 100%;
    font-size: 2rem;
  }

  .skeleton {
    border-radius: 2rem;
    height: 3.6rem;
  }

  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.15s ease-in-out;
    border-radius: 2rem;
    background: $gray;
    padding: 1rem;
    width: 100%;
    color: $white;
    font-size: 1.6rem;

    &.active {
      background: $accentColor;
    }

    @media (hover: hover) {
      &:hover {
        background: $accentColor;
      }
    }
  }
}
@media (min-width: $pageWidth768) {
  .container {
    padding: 2rem;
  }

  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: $pageWidth1024) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}
