@use '@/shared/vars/vars' as *;

.link {
  transition: 0.15s ease-in-out;
  border-radius: 0.5rem;
  background-color: $white10Alpha;
  padding: 0 1rem;
  width: fit-content;
  min-width: 10rem;
  height: 3rem;
  color: $white;
  font-size: 1.6rem;
  line-height: 3rem;
  text-align: center;

  @media (hover: hover) {
    &:hover {
      background-color: $accentColor;
    }
  }
}
