@use '@/shared/vars/vars' as *;

@media (min-width: $pageWidth320) {
  .button {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 999;
    transition: 0.15s ease-in-out;
    border-radius: 0.5rem;
    background: transparent;
    background: rgba($white, 0.1);
    padding: 0 2rem;
    min-height: 3.6rem;
    color: $white;
    font-size: 1.6rem;
    text-wrap: wrap;
    &.active {
      background: $accentColor;
    }
    @media (hover: hover) {
      &:hover {
        background: $accentColor;
      }
    }
  }
}

@media (min-width: $pageWidth768) {
  .button {
    text-wrap: nowrap;
  }
}
