@import '@/shared/vars/vars';

.link {
  transition: 0.15s ease-in-out;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
  color: $white;
  font-size: 1.6rem;
  @media (hover: hover) {
    &:hover {
      box-shadow: 0px 0px 51px 5px rgba(0, 0, 0, 0.5);
    }
  }
}
.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
}
.listElement {
  list-style: disc inside;
}
