@import '@/shared/vars/vars';

@media (min-width: $pageWidth320) {
  .container {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    background: $accentColor;
    padding: 0 2rem 0;
    height: 5rem;
  }

  .heading {
    color: $white;
    font-weight: 400;
    font-size: 2.3rem;
  }
}
