@import '@/shared/vars/vars';

@media (min-width: $pageWidth320) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    padding: $containerPaddingTopMobile $containerPaddingX
      $containerPaddingBottomMobile;
    max-width: $containerWidth;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    border-radius: 0.5rem;
    background: $darkGray;
  }

  .linkContainer {
    display: flex;
    align-items: center;
    height: 3.5rem;
  }
}

@media (min-width: $pageWidth768) {
  .container {
    padding: $containerPaddingTop $containerPaddingX $containerPaddingBottom;
  }
}
