@import '@/shared/vars/vars';

@media (min-width: $pageWidth320) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 auto;
    padding: $containerPaddingTopMobile - 0.5rem $containerPaddingX
      $containerPaddingBottomMobile;
    max-width: $containerWidth;
    min-height: calc(100svh - $headerHeight);
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    border-radius: 0.5rem;
    background: $darkGray;
  }

  .linkContainer {
    display: flex;
    align-items: center;
    height: 4rem;
  }
}

@media (min-width: $pageWidth768) {
  .container {
    padding: $containerPaddingTop - 0.5rem $containerPaddingX
      $containerPaddingBottom;
  }
}
