@import '@/shared/vars/vars';

.wrapper {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: $backgroundColor;
}
.container {
  width: 100%;
  max-width: $containerWidth;
  padding: 0rem $containerPaddingX;
  display: flex;
  align-items: center;
  gap: 1rem 0.5rem;
  flex-wrap: wrap;
}
.contact {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: $backgroundColor;
  height: 2.8rem;
  margin-left: auto;
  gap: 2rem;
  a {
    font-size: 1.4rem;
    color: $white;
    transition: 0.15s ease-in-out;
    @media (hover: hover) {
      &:hover {
        color: $accentColor;
      }
    }
  }
}
