@import '@/shared/vars/vars';

.inputWrapper {
  display: flex;
  position: relative;
  flex: 1 0 auto;
  height: 3.6rem;
}
.searchSvg {
  position: absolute;
  top: 50%;
  left: 1.1rem;
  transform: translateY(-50%);
  z-index: 5;
  aspect-ratio: 1;
  height: 1.7rem;
}
.searchUse {
  opacity: 0.4;
}

.input {
  z-index: 4;
  transition: 0.15s ease-in-out;
  transition-delay: 100ms;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  background: $gray;
  padding-left: 3.5rem;
  width: 100%;
  height: 100%;
  color: $lightGray;
  font-size: 1.6rem;
  &:hover,
  &:focus {
    background: $grayHover;
  }
}
