@use '@/shared/vars/vars' as *;

@media (min-width: $pageWidth320) {
  .container {
    display: flex;
    position: fixed;
    top: 50%;
    left: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transform: translate(-100%, -50%);
    z-index: 2;
    transition: 0.15s ease-in-out;
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    background: $darkGray;
    max-width: 90%;

    &.visible {
      transform: translate(0%, -50%);
    }
  }

  .arrowButton {
    position: absolute;
    top: 50%;
    right: -1.875rem;
    transform: translateY(-50%);
    border-radius: 0 50% 50% 0;
    background: $darkGray;
    width: 2.5rem;
    height: 5rem;
  }
  .arrowButtonSvg {
    transition: 0.15s ease-in-out;
    width: 100%;
    height: 100%;
    &.rotated {
      transform: rotate(180deg);
    }
  }
  .arrowButtonSvgUse {
    width: 100%;
    height: 100%;
    fill: $white;
  }
}

@media (min-width: $pageWidth768) {
  .container {
    position: static;
    justify-content: baseline;
    align-items: baseline;
    transform: translate(0%, 0%);

    &.visible {
      transform: translate(0%, 0%);
    }
  }
  .arrowButton {
    display: none;
  }
}
