@import '@/shared/vars/vars';

@media (min-width: $pageWidth320) {
  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    aspect-ratio: 1;
  }

  .svg {
    transition: 0.15s ease-in-out;
    cursor: pointer;
    border-radius: 0.5rem;
    aspect-ratio: 1;
    width: 3.6rem;
    overflow: hidden;

    .background {
      fill: $white;
      transition: 0.15s ease-in-out;
    }
    .logo {
      fill: $accentColor;
      transition: 0.15s ease-in-out;
    }
    &:hover {
      .background {
        fill: $accentColor;
      }
      .logo {
        fill: $white;
      }
    }
  }
}
