@use '@/shared/vars/vars' as *;

@media (min-width: $pageWidth320) {
  .header {
    display: flex;
    position: fixed;
    top: 0;
    flex-direction: column;
    justify-content: center;
    z-index: 999;
    transition: 0.3s ease-in-out;
    background: $darkGray;
    width: 100%;

    &.visible {
      top: 0;
    }

    &.hidden {
      top: -100%;
    }
  }

  .wrapper {
    width: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    margin: 0 auto;
    padding: 1rem $containerPaddingX;
    width: 100%;
    max-width: $containerWidth;
    height: $headerHeightMobile;
  }

  .content {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .inputGroup {
    display: flex;
    position: relative;
    flex: 1;
    height: 3.6rem;
  }

  .menuButton {
    transition: 0.15s ease-in-out;
    border-radius: 50%;
    background: $accentColor;
    aspect-ratio: 1;

    @media (hover: hover) {
      &:hover {
        background: $white;
      }
    }
  }

  .menu {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    transform: translateY(100%);
    border-radius: 10px;
    background: $darkGray;
    padding: 10px;
  }
}

@media (min-width: $pageWidth768) {
  .container {
    flex-direction: row;
    align-items: center;
    height: $headerHeight;
  }
}
