@use '@/shared/vars/vars' as *;

.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 4px;
}

.editButton,
.duplicateButton,
.deleteButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.15s ease-in-out;
  cursor: pointer;
  border: 0.1rem solid $darkGray;
  border-radius: 0.5rem;
  background: rgba($white, 0.1);
  padding: 0 0.4rem;
  height: 100%;
  color: $white;
  font-size: 1.4rem;

  &.active {
    background: $accentColor;
  }

  @media (hover: hover) {
    &:hover {
      background: $accentColor;
    }
  }

  &.isLocked {
    cursor: not-allowed;
    background: rgba($notAllowedColor, 0.1);
  }
}
