@import '@/shared/vars/vars';

.actions {
  display: flex;
  gap: 4px;
}

.editButton,
.deleteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s ease-in-out;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  background: $white10Alpha;
  padding: 0 0.8rem;
  height: 3rem;
  color: $white;
  font-size: 1.4rem;

  &.active {
    background: $accentColor;
  }

  @media (hover: hover) {
    &:hover {
      background: $accentColor;
    }
  }
}
