@use '@/shared/vars/vars' as *;

@media (min-width: $pageWidth320) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 0 auto;
    padding: $containerPaddingTopMobile $containerPaddingX
      $containerPaddingBottomMobile;
    width: fit-content;
    max-width: $containerWidth;
    min-height: 100svh;
  }

  .text {
    font-size: 2rem;
    text-align: center;
  }
}
@media (min-width: $pageWidth768) {
  .container {
    padding: $containerPaddingTop $containerPaddingX $containerPaddingBottom;
  }
}
