@use '@/shared/vars/vars' as *;

@media (min-width: $pageWidth320) {
  .link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: 0.15s ease-in-out;
    border-radius: 0.5rem;
    background: $accentColor;
    padding: 0 2rem;
    height: 3.6rem;
    color: #fff;
    font-size: 1.6rem;

    // @media (hover: hover) {
    //   &:hover {
    //     background: #fff;
    //     color: $accentColor;
    //   }
    // }
  }
}

@media (min-width: $pageWidth768) {
}
