@import '@/shared/vars/vars';

@media (min-width: $pageWidth320) {
  .list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .skeleton {
    min-height: 3.6rem;
  }

  .text {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    background: $white10Alpha;
    padding: 0.5rem 1.5rem;
    min-height: 3.6rem;
    color: $white;
    font-size: 2rem;
  }

  .lessonBlock {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .editList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 1rem;
  }
}
