@import '@/shared/vars/vars';

@media (min-width: $pageWidth320) {
  .button {
    background: #ffffff10;
    color: $white;
    font-size: 1.6rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    transition: 0.15s ease-in-out;
    &:hover {
      background: $accentColor;
    }
  }
}
@media (min-width: $pageWidth425) {
  .button {
    font-size: 2rem;
    flex-direction: row;
  }
}
