@use '@/shared/vars/vars' as *;

@media (min-width: $pageWidth320) {
  .button {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    transition: 0.15s ease-in-out;
    border-radius: 0.5rem;
    background: opacity($white, 0.1);
    padding: 0.5rem 1.5rem;
    color: $white;
    font-size: 1.6rem;
    &:hover {
      background: $accentColor;
    }
  }
}
@media (min-width: $pageWidth425) {
  .button {
    flex-direction: row;
    font-size: 2rem;
  }
}
