@use '@/shared/vars/vars' as *;

.editForm {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
}

.editInput {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 8px;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

.saveButton,
.cancelButton {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s ease-in-out;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  background: opacity($white, 0.1);
  padding: 0 0.8rem;
  height: 100%;
  color: $white;
  font-size: 1.4rem;

  @media (hover: hover) {
    &:hover {
      background: $accentColor;
    }
  }
}
