@import '@/shared/vars/vars';

@media (min-width: $pageWidth320) {
  .heading {
    font-size: 1.8rem;
    color: $white;
  }
}

@media (min-width: $pageWidth768) {
  .heading {
    font-size: 2rem;
  }
}
