@use '@/shared/vars/vars' as *;

@media (min-width: $pageWidth320) {
  .link {
    display: flex;
    align-items: center;
  }
  .heading {
    color: $white;
    font-size: 1.8rem;
  }
}

@media (min-width: $pageWidth768) {
  .heading {
    font-size: 2rem;
  }
}
