@use '@/shared/vars/vars' as *;

.headingWrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.skeleton {
  min-width: 10rem;
  min-height: 3.6rem;
}

.heading {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background: $accentColor;
  padding: 0.5rem 1.5rem;
  width: fit-content;
  min-height: 3.6rem;
  color: $white;
  font-size: 2rem;
}
