@use '@/shared/vars/vars' as *;

@media (min-width: $pageWidth320) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background: $darkGray;
    width: 100%;
    height: fit-content;
    font-size: 1.4rem;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 2.3rem $containerPaddingX 8.3rem;
    width: 100%;
    max-width: $containerWidth;
  }

  .text {
    color: $white;
  }
  .link {
    color: $white;

    &:hover {
      .mut4bor {
        color: $accentColor;
      }
    }
  }

  .mut4bor {
    transition: 0.15s ease-in-out;
  }
}

@media (min-width: $pageWidth768) {
  .container {
    padding: 2.3rem $containerPaddingX;
  }
}
