@use '@/shared/vars/vars' as *;

@media (min-width: $pageWidth320) {
  .editLabel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;
    width: 100%;
    color: $white;
    font-size: 1.4rem;
  }

  .editInput {
    transition: 0.2s ease-in-out;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    background: rgba($white, 0.1);
    padding: 0.6rem 1rem;
    width: 100%;
    color: $white;
    font-size: 1.4rem;

    &:focus {
      border: 2px solid $accentColor;
      background: rgba($white, 0.15);
    }
  }
}

@media (min-width: $pageWidth425) {
  .editLabel {
    font-size: 1.6rem;
  }

  .editInput {
    font-size: 1.6rem;
  }
}
