@use '@/shared/vars/vars' as *;

@media (min-width: $pageWidth320) {
  .favorite {
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
    transition: 0.15s ease-in-out;
    border-radius: 50%;
    background: $accentColor;
    aspect-ratio: 1;
    width: 3.6rem;
    &:hover {
      background: $white;
      .favoriteSvg {
        fill: $accentColor;
      }
    }
  }

  .favoriteSvg {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.15s ease-in-out;
    cursor: pointer;
    border-radius: 0.5rem;
    aspect-ratio: 1;
    width: 3rem;
    overflow: hidden;
    fill: $white;
  }
}

@media (min-width: $pageWidth768) {
  .favorite {
    display: flex;
  }
}
