@import '@/shared/vars/vars';

@media (min-width: $pageWidth320) {
  .button {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: 0.15s ease-in-out;
    border-radius: 0.5rem;
    background: $white10Alpha;
    padding: 0 2rem;
    min-width: 10rem;
    height: 3.6rem;
    color: $white;
    font-size: 1.6rem;

    &.active {
      background: $accentColor;
    }

    @media (hover: hover) {
      &:hover {
        background: $accentColor;
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
