@import '@/shared/vars/vars';

@media (min-width: $pageWidth320) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 1rem $containerPaddingX;
    margin: 0 auto;
    max-width: $containerWidth;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
  }

  .main {
    width: 100%;
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .link {
    font-size: 1.6rem;
    display: flex;
    padding: 1rem;
    background: $darkGray;
    color: $white;
    flex: 1 0 auto;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: $pageWidth768) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: $pageWidth1024) {
  .main {
    grid-template-columns: repeat(3, 1fr);
  }
}
