@import '@/shared/vars/vars';

.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  aspect-ratio: 1;
  height: 3.4rem;
  &:hover {
    background: $white;
  }
}

.githubSvg,
.telegramSvg {
  transition: 0.15s ease-in-out;
  aspect-ratio: 1;
  min-width: 3.6rem;
  fill: $white;
  cursor: pointer;
  &:hover {
    fill: $accentColor;
  }
}
