@use '@/shared/vars/vars' as *;

@media (min-width: $pageWidth320) {
  .button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: 0.15s ease-in-out;
    border-radius: 0.5rem;
    background: transparent;
    background: rgba($white, 0.1);
    padding: 0.5rem 1rem;
    min-height: 3rem;
    color: $white;
    font-size: 1.6rem;
    white-space: nowrap;

    &.active {
      background: $accentColor;
    }

    @media (hover: hover) {
      &:hover {
        background: $accentColor;
      }
    }
  }
}
