@use '@/shared/vars/vars' as *;

.optionsList {
  display: flex;
  position: absolute;
  top: 3.6rem;
  right: 3.6rem;
  flex-direction: column;
  opacity: 0;
  z-index: 1;
  transition: 0.15s ease-in-out;
  box-shadow: 0 0 5rem 0.5rem rgba(0, 0, 0, 0.5);
  border: 0.1rem solid rgba($white, 0.1);
  border-radius: 0.5rem;
  background: $accentColor;
  padding: 1rem;
  pointer-events: none;
  &.active {
    opacity: 1;
    pointer-events: all;
  }
}
