@import '@/shared/vars/vars';

.container {
  display: flex;
  flex-direction: column;
  padding: 1rem $containerPaddingX;
  margin: 0 auto;
  max-width: $containerWidth;
  font-size: 2rem;
  gap: 1rem;
}

.loading {
  font-size: 2rem;
}

.error {
  font-size: 2rem;
}
