@use '@/shared/vars/vars' as *;

@media (min-width: $pageWidth320) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 auto;
    padding: $containerPaddingTopMobile - 0.5rem $containerPaddingX $containerPaddingBottomMobile;
    max-width: $containerWidth;
    min-height: calc(100svh - $headerHeight);
  }

  .weeksContainer {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .content {
    flex: 1;
  }

  .wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    border-radius: 0.5rem;
    background: $darkGray;
    width: 100%;
  }

  .options {
    display: flex;
    position: relative;
  }

  .skeleton {
    height: 3.6rem;
  }

  .groupSelect {
    width: 200px;
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 0.5rem;
    background: $darkGray;
    padding: 1rem;
  }

  .listElement {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 13rem;
  }

  .groups {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
  }
}
@media (min-width: $pageWidth768) {
  .container {
    padding: $containerPaddingTop - 0.5rem $containerPaddingX $containerPaddingBottom;
  }

  .list {
    padding: 2rem;
  }

  .listElement {
    min-width: 13rem;
  }
}
