@import '@/shared/vars/vars';

@media (min-width: $pageWidth320) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 auto;
    padding: calc($headerHeightMobile + 1rem) $containerPaddingX 1rem;
    max-width: $containerWidth;
    font-size: 2rem;
  }

  .wrapper {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: row;
    border-radius: 0.5rem;
    background: $darkGray;
  }

  .schedule {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .loading {
    font-size: 2rem;
  }

  .error {
    font-size: 2rem;
  }
}
@media (min-width: $pageWidth768) {
  .container {
    padding: calc($headerHeight + 1rem) $containerPaddingX 1rem;
  }
  .schedule {
    padding: 2rem;
  }
}
