@import '@/shared/vars/vars';

@media (min-width: $pageWidth320) {
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 0 5rem 0.5rem rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    background: $darkGray;
    padding: 1rem;
  }

  .listElement {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    min-width: 10rem;
  }

  .skeleton {
    height: 3.6rem;
  }
}

@media (min-width: $pageWidth768) {
  .list {
    padding: 2rem;
  }

  .listElement {
    min-width: 13rem;
  }
}
