@import '@/shared/vars/vars';

@media (min-width: $pageWidth320) {
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    background: $darkGray;
    padding: 1rem;
  }
  .listElement {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 10rem;
  }
}

@media (min-width: $pageWidth768) {
  .list {
    padding: 2rem;
  }
  .listElement {
    min-width: 13rem;
  }
}
