@import '@/shared/vars/vars';

@media (min-width: $pageWidth320) {
  .container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    z-index: 3;
    transition: 0.15s ease-in-out;
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    background: $darkGray;
    max-width: 90%;
    &.visible {
      transform: translateX(0%);
    }
    &.hidden {
      transform: translateX(-100%);
    }
  }

  .arrowButton {
    position: absolute;
    top: 50%;
    right: -1.875rem;
    transform: translateY(-50%);
    border-radius: 0 50% 50% 0;
    background: $darkGray;
    width: 2.5rem;
    height: 5rem;
  }
  .arrowButtonSvg {
    transition: 0.15s ease-in-out;
    width: 100%;
    height: 100%;
    &.rotated {
      transform: rotate(180deg);
    }
  }
  .arrowButtonSvgUse {
    width: 100%;
    height: 100%;
    fill: $white;
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 0.5rem;
    background: $darkGray;
    padding: 1rem;
  }
  .listElement {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 10rem;
  }
}

@media (min-width: $pageWidth768) {
  .container {
    position: static;
    justify-content: baseline;
    align-items: baseline;
    &.visible,
    &.hidden {
      transform: translateX(0%);
    }
  }
  .arrowButton {
    display: none;
  }
  .list {
    padding: 2rem;
  }
  .listElement {
    min-width: 13rem;
  }
}
