@import '@/shared/vars/vars';

@media (min-width: $pageWidth320) {
  .span {
    font-size: 1.6rem;
  }

  .group {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .dash {
    display: none;
    margin: 0 1rem;
  }
}
@media (min-width: $pageWidth425) {
  .span {
    font-size: 2rem;
  }
  .dash {
    display: block;
    margin: 0 1rem;
  }
}
