@import '@/shared/vars/vars';

@media (min-width: $pageWidth320) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 1rem $containerPaddingX;
    margin: 0 auto;
    max-width: $containerWidth;
    gap: 2rem;
  }
}
