@import '@/shared/vars/vars';

@media (min-width: $pageWidth320) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    padding: $containerPaddingTopMobile $containerPaddingX
      $containerPaddingBottomMobile;
    max-width: $containerWidth;
  }

  .addButton {
    cursor: pointer;
    border: 1px dashed #ccc;
    border-radius: 4px;
    background: none;
    padding: 8px 12px;
    // width: fit-content;
    color: #666;

    &:hover {
      border-color: #999;
      color: #999;
    }
  }
}

@media (min-width: $pageWidth768) {
  .container {
    padding: $containerPaddingTop $containerPaddingX $containerPaddingBottom;
  }
}
