@import '@/shared/vars/vars';

.button {
  background: $darkGray;
  font-size: 1.6rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s;

  &:disabled {
    use {
      fill: $gray;
    }
    &:hover {
      cursor: not-allowed;
    }
  }
  @media (hover: hover) {
    &:hover:not(:disabled) {
      background: $gray;
    }
  }
}
.svg {
  height: 2.5rem;
  aspect-ratio: 1;
}
.use {
  fill: $white;
  transition: 0.1s;
}
.inverted {
  transform: rotate(180deg);
}
